@import "./src/styles";

.field-opponent {
    display: flex;
    flex-wrap: nowrap;

    width: min-content;
    height: min-content;

    border: solid 1px black;
    border-spacing: 0;

    box-sizing: border-box;

    &__row {
        display: flex;

        box-sizing: border-box;
    }

    &__cell {
        display: flex;
        justify-content: center;
        align-items: center;

        width: $deck-size;
        height: $deck-size;

        border: 1px solid rgba(0, 0, 0, 0.3);

        box-sizing: border-box;
    }
}