.cell {
    transition: 0.4s;

    &_hovered {
        transform: scale(1.2);
    }

    &_hovered-can-drop {
        background-color: #9ec5fe;
    }

    &_hovered-cant-drop {
        background-color: #ea868f;
    }

    &_hovered-collision {
        background-color: #dc3545;
    }

    &_side {
        background-color: lighten(#cfe2ff, 5%);
    }

    &_busy {
        background-color: #6ea8fe;
    }
}
