.cell {
    transition: 0.5s;

    &_hovered-free {
        background-color: #d1e7dd;

        transform: scale(1.175);
    }

    &_hovered-busy {
        background-color: #f1aeb5;

        transform: scale(1.175);
    }

    &_side {
        background-color: lighten(lightgrey, 10%);
    }

    &_busy {
        background-color: #9dc4fd;
    }
}
